# Grafana Datasource Configuration
# Auto-provision Prometheus as datasource

apiVersion: 1

datasources:
  - name: Prometheus
    type: prometheus
    access: proxy
    url: http://prometheus:9090
    isDefault: true
    editable: true
    jsonData:
      timeInterval: "15s"
      httpMethod: POST
      queryTimeout: "60s"
    version: 1
